workflows/shopify-ai-assistant.json
{
  "name": "Shopify AI Assistant",
  "nodes": [
    {
      "parameters": {
        "path": "shopify-chat",
        "options": {}
      },
      "id": "webhook_trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "model": "claude-3-5-sonnet-20241022",
        "maxTokens": 2000,
        "messages": {
          "messages": [
            {
              "role": "user",
              "content": "={{ $json.body.message }}"
            }
          ]
        }
      },
      "id": "claude_node",
      "name": "Claude AI",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "anthropicApi": {
          "id": "1",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "resource": "product",
        "productId": "={{ $json.body.productId }}"
      },
      "id": "shopify_node",
      "name": "Get Shopify Product",
      "type": "n8n-nodes-base.shopify",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ $node['Claude AI'].json.content }}"
            },
            {
              "name": "product",
              "value": "={{ $node['Get Shopify Product'].json }}"
            }
          ]
        }
      },
      "id": "set_node",
      "name": "Combine Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Claude AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude AI": {
      "main": [
        [
          {
            "node": "Get Shopify Product",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Shopify Product": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
